<app-loader></app-loader>
<div class="app-calendar">
    <full-calendar
        defaultView="timeGridWeek" 
        [themeSystem]="'bootstrap'"
        [plugins]="calendarPlugins"
        [header]="{
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }"
        [slotLabelFormat]="{
            hour: 'numeric',
            minute: '2-digit',
            omitZeroMinute: false,
            meridiem: 'short',
            hour12: false
        }"
        [businessHours]="{
            daysOfWeek: [ 1, 2, 3, 4, 5 ],
            startTime: '08:00',
            endTime: '17:00'
        }"
        [eventTimeFormat]="{
            hour: 'numeric',
            minute: '2-digit',
            omitZeroMinute: false,
            meridiem: 'short',
            hour12: false
        }"
        [minTime]="'08:00'"
        [maxTime]="'17:00'"
        [slotDuration]="'00:15'"
        [scrollTime]="scrollTime"
        [weekNumbers]="true"
        [weekNumbersWithinDays]="true"
        [allDaySlot]="false"
        [nowIndicator]="true"
        [eventLimit]="true"
        [deepChangeDetection]="true"
        [events]="calendarEvents$ | async"
        (eventClick)="onEventClick($event)"
        (dateClick)="onDateClick($event)">
    </full-calendar>
</div>